/build

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/caches/
.gradle/gradle.properties
.gradle/gradle.log

.DS_Store

*.apk
*.ap_
*.dex
*.class
*.so
*.jar
*.war
*.ear
*.aar

*.json
app-debug.apk
app-release.apk

*.keystore
*.jks

**/*.obj
**/*.o
**/*.class
**/*.lock
**/*.pyc
**/*.pyo
**/.idea/

out/